<%= form_with(url: importing_units_path, local: true) do |form| %>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <div>
    <%= form.file_field :file %>
  </div>
  <br />
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
