<p id="notice"><%= notice %></p>

<h1>Units</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <th>
          name
        </th>
        <th>
          description
        </th>
        <th>
          area
        </th>
        <th>
          uom
        </th>
        <th>
          price
        </th>
      </tr>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <td><%= unit.description %></td>
        <td><%= unit.area %></td>
        <td><%= unit.uom %></td>
        <td><%= unit.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Import Units', new_importing_unit_path %>
